* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: "Nunito";
  color: white;
}

.site {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

header {
  height: 80px;
  width: 100%;
  border: 5px solid #2eb9ce;
  border-radius: 0 0 50px 50px;
  background-color: #2eb9ce;
  box-shadow: 0 0 14px 12px #2eb9ce;
}

header .header-content h1 {
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #2eb9ce;
  border: 12px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #baeff2;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

main {
  min-height: calc(100% - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
}

main h1 {
  text-align: center;
}

main .mainContent .container-esserini {
  max-height: 420px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

main .mainContent .container-esserini .index-esserino a {
  text-decoration: none;
}

main .mainContent .container-esserini .index-esserino a:visited {
  color: white;
}

main .mainContent .container-esserini .index-esserino a img {
  width: 300px;
  height: auto;
}

main .mainContent .container-esserini .index-esserino a h3 {
  text-align: center;
  font-size: 28px;
}

.lista-tasks {
  max-height: 420px;
  overflow-y: scroll;
}

.homeTask,
.task {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow-y: auto;
}

.homeTask h1,
.task h1 {
  margin-bottom: 15px;
}

.homeTask .create-button,
.task .create-button {
  width: 50px;
  margin: 10px auto;
}

.homeTask .show-button,
.task .show-button {
  width: 35px;
  margin: 0 auto;
}

.homeTask .buttons,
.task .buttons {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.homeTask h5,
.task h5 {
  color: green;
  margin-bottom: 15px;
  text-align: center;
}

footer {
  height: 80px;
  width: 100%;
  border-top: 1px solid black;
  border: 5px solid #2eb9ce;
  border-radius: 50px 50px 0 0;
  background-color: #2eb9ce;
  box-shadow: 0 0 14px 12px #2eb9ce;
  color: white;
}

footer .footer-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

